#Q:1 What are data structures, and why are they important.


Ans> Data structures are ways to store and organize data so that it can be used efficiently. They are important because they help us write clean and fast code by making data access and updates easier.

#Q:2 Explain the difference between mutable and immutable data types with examples.


Ans> Mutable data types can be changed after they are created, like lists. Immutable data types cannot be changed once created, like strings or tuples.

#Examples Are as followed:

In [3]:
# Example of mutable and immutable data types
my_list = [1, 2, 3]      # mutable
my_string = "hello"      # immutable

#Q:3 What Are the main diffrence between lists and tuples in python.

Ans> Lists are mutable and defined using square brackets , while tuples are immutable and use round brackets. Lists are used when data needs to change, but tuples are used when the data should stay constant.

#Q:4 describe how dictionairies store data.

Ans> Dictionaries store data as key-value pairs. Each key is unique and maps to a value. You can quickly access data using the key.

#|Q:5 Why might you use a set instead of a list in Python.


Ans> Sets are used when you want to store only unique items and don’t care about the order. Unlike lists, sets automatically remove duplicates and offer faster lookups.

#Q:6 What is a string in Python, and how is it different from a list.


Ans> A string is a sequence of characters, like "hello", while a list can hold any data types, like numbers, strings, etc. Also, strings are immutable, but lists are mutable — meaning we can change a list, but not a string.

#Q:7 How do tuples ensure data integrity in Python.


Ans> tuples are immutable, which means once they are created, their values can't be changed. This helps keep the data safe from accidental changes and ensures data stays the same throughout the program.

#Q:8 What is a hash table, and how does it relate to dictionaries in Python.


AAns> a hash table is a data structure that stores data using key-value pairs and uses a hash function to quickly find the value. Python dictionaries are built using hash tables, which is why they're so fast for lookups.

#Q:9 Can lists contain different data types in Python.


Ans> yes, Python lists can store different data types in the same list. For example, a list can have numbers, strings, and even other lists or dictionaries.

#Q:10 Explain why strings are immutable in Python.


Strings are immutable to make them safe and efficient. Since they can’t be changed, Python can optimize their use in memory and avoid unexpected bugs caused by accidental changes.

#Q:11 What advantages do dictionaries offer over lists for certain tasks.


Dictionaries are faster when you need to look up values by keys. Instead of searching through a whole list, a dictionary directly gives you the value linked to a key. They're perfect when your data has labels or names — like student names and their marks.

#Q:12 Describe a scenario where using a tuple would be preferable over a list.


Use a tuple when the data should not change. For example, storing the coordinates of a location like (28.61, 77.23) — you don’t want anyone to accidentally modify it. Tuples are also faster and take less memory than lists.

#Q:13 Q13. How do sets handle duplicate values in Python.


Sets automatically remove duplicates. If you add the same value again, it just keeps one copy. This makes sets perfect for storing unique items, like unique email IDs or roll numbers.

#Q14. How does the in keyword work differently for lists and dictionaries.

#Answers

In lists, in checks if a value exists in the list.

In dictionaries, in checks if a key exists, not the value.

#Q:15  Can you modify the elements of a tuple? Explain why or why not.


No, tuples are immutable, which means once created, their elements can’t be changed. This is because tuples are designed to store fixed data that should stay the same, like days of the week or fixed coordinates.

#Q16. What is a nested dictionary, and give an example of its use case.


A nested dictionary means a dictionary inside another dictionary. It's useful when data has multiple levels.

#Q:17  Describe the time complexity of accessing elements in a dictionary
In what situations are lists preferred over dictionaries.


Accessing elements in a dictionary has O(1) time complexity — super fast. But lists are better when you just need to store ordered items or go through items in sequence. Use lists when order matters or when you don’t need key-value pairs.

#Q18. In what situations are lists preferred over dictionaries.


Lists are better when you:

Just need to store items in a specific order

Don’t need key-value pairs

Want to go through items using a loop or index (like list[0])

Example: Storing a list of fruits like ["apple", "banana", "mango"] — no need for keys here

#Q19. Why are dictionaries considered unordered, and how does that affect data retrieval.


Earlier versions of Python (before 3.7) didn’t keep the order of items in dictionaries — that’s why they were called unordered. Even now, the order doesn’t matter when retrieving data using keys. You can’t rely on the order, but you’ll always get the value if you know the key.

#Q:20 Explain the difference between a list and a dictionary in terms of data retrieval.


In a list, you get data using index numbers, like my_list[2].

In a dictionary, you get data using keys, like my_dict["name"].

Dictionaries are faster if you know the key, while lists are simple if you just want to access items by position.

#THEORETICAL QUESTIONS:

In [8]:
# Q1. Write a code to create a string with your name and print it.

my_name = "Zaid Bin Zaya"
print(my_name)

Zaid Bin Zaya

In [9]:
# Q2. Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [10]:
#  Q3. Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

In [11]:
# Q4. Write a code to convert the string "hello" to uppercase.

word = "hello"
print(word.upper())

HELLO

In [12]:
# Q5. Write a code to replace the word "apple" with "orange" in the string 'i like apple'.

sentence = "i like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

i like orange

In [13]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [14]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [16]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [17]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [18]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [19]:
# Q11. Create a tuple with 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [20]:
# Q12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # 'blue'

blue

In [21]:
# Q13. Find the minimum number in the tuple (10, 20, 5, 15).

nums = (10, 20, 5, 15)
print(min(nums))  # 5

5

In [22]:
# Q14. Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))  # 1

1

In [23]:
#Q15. Create a tuple with 3 fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)  # False|

False

In [24]:
# Q16. Create a set with 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [26]:
# Q17. Clear all elements from the set {1, 2, 3, 4, 5}.

nums = {1, 2, 3, 4, 5}
nums.clear()
print(nums)  # set()

set()

In [27]:
# Q18. Remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
# Q19. Find the union of {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [30]:
#Q20. Find the intersection of {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))  # {2, 3}

{2, 3}

In [31]:
#Q21. Create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [32]:
# Q22. Add "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

data = {'name': 'John', 'age': 25}
data['country'] = 'USA'
print(data)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [34]:
#Q23. Access the value of "name" in {'name': 'Alice', 'age': 30}.

info = {'name': 'Alice', 'age': 30}
print(info['name'])  # Output: Alice

Alice

In [36]:
#Q24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}.

student = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del student['age']
print(student)

{'name': 'Bob', 'city': 'New York'}

In [37]:
#Q25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}.

profile = {'name': 'Alice', 'city': 'Paris'}
print('city' in profile)  # Output: True

True

In [38]:
# Q26. Create and print a list, tuple, and dictionary.

my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'x': 10, 'y': 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'x': 10, 'y': 20}

In [39]:
#Q27. Create a list of 5 random numbers (1–100), sort & print.

import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[34, 36, 39, 41, 63]

In [41]:
#Q28. Create a list with strings and print the element at index 3.

words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])  # Output: date

date

In [42]:
# Q29. Combine two dictionaries and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
# Q30. Convert a list of strings into a set.

string_list = ['apple', 'banana', 'apple', 'cherry']
unique_set = set(string_list)
print(unique_set)

{'cherry', 'banana', 'apple'}

#THANK YOU